
  <alert type="info"  [style.display]="display=='show'?'':'none'">
    <p>{{alertBox}}</p>
   </alert>
 
   <section class="container d-block w-25 p-1  bg-secondary text-white rounded">
     <h6 class="text-center">Flight Booker</h6>
     <div class=" container d-block justify-content-center align-items-center p-3 bg-white text-dark w-100 rounded">
         <select name="cars" id="flight" class=" w-100" [(ngModel)]="chosen" (ngModelChange)="chosenFun()">
             <option value="oneWay" class="text-center">One-way flight</option>
             <option value="returnFlight" class="text-center">Return flight</option>
           </select>
           <form [formGroup]="dateForm">
             <div class="mt-2">
               <label for="">Start Date:</label>
             <input type="date" formControlName="start" id="startDate" class="form-control mt-1 h-25" [min]="setDate | date:'yyyy-MM-dd'" [max]="maxDate | date:'yyyy-MM-dd'" (input)="startInput()">
             </div>
             <div class="mt-2" [style]="{'display':rShow?'':'none'}">
               <label for="">Return Date:</label>
           <input type="date" formControlName="return" id="returnDate" class="form-control mt-1 h-25" [style.background-color]="status=='err'?'red':'white'" [min]="setDate | date:'yyyy-MM-dd'" (input)="returnInput()" >
          
             </div>
           <button type="button" [disabled]="dateForm.invalid" class="btn btn-secondary w-100 mt-4" (click)="bookFlight()">Book</button>
           
           </form>
     </div>
 </section>