<section class="container d-block p-1  bg-secondary text-white rounded">
    <h6 class="text-center">TempConv</h6>
    <div class=" container d-flex justify-content-around align-items-center p-3 bg-white text-dark w-100 rounded">
        <input type="number" [(ngModel)]="cel" id="celsius" class="form-control w-25 h-25" (ngModelChange)="onInputCel()">
        <p class="mt-4">Celsius</p>
        <p class="mt-4">=</p>
        <input type="number" [(ngModel)]="feh" id="fahrenheit" class="form-control w-25 h-25" (ngModelChange)="onInputFeh()">
        <p class="mt-4">Fahrenheit</p>
    </div>
</section>